@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  section{
    width: 90%;
    text-align: center;
  }
  section table{
    margin: auto;
    color: #757575;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
  }
  section table tr{
    border: 1px solid #757575;
  }
  section table tr td{
    padding: 10px 5px;
  }
  section table tr td{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .fa-trash{
    color: red;
  }
  .fa-edit{
    color: green;
  }
  button{
    border: none;
    padding: 10px;
    background: #c00;
    color: #fff;
    font-family: 'vazir';
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
button.active{
    visibility: visible;
}
  button svg{
    color: #fff !important;
  }