@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.8)), url('../img/bg.jpg');
  }
input,button{
    font-family: 'vazir';
    outline: none;
}
  .container{
    width: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    background: #fff;
}
.container .header-title{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.container form{
    padding: 10px 40px;
}
.form-control.error input{
    border-color: #f14545;
}
.form-control.error span{
    visibility: visible;
}
.form-control.error .fa-exclamation-triangle{
    visibility: visible;
}

.form-control.success input{
    border-color: #42b856;
}
.form-control.success .fa-check-circle{
    visibility: visible;
}
.container form .form-control{
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.form-control label{
    display: block;
    text-align: right;
    margin-bottom: 10px;
}
.form-control input{
    width: 100%;
    padding: 10px;
    border: none;
    border: 2px solid #d8d8d8;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-control input::placeholder{
    color: #b9b9b9;
}
.form-control svg{
    position: absolute;
    left: 10px;
    top: 50%;
    visibility: hidden;
}
.form-control .fa-check-circle{
    color: #43cc5a;
}
.form-control .fa-exclamation-triangle{
    color: #c00;
}
.form-control span{
    font-size: 13px;
    color: #c00;
    visibility: hidden;
}
form button{
    background: #42b856;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
form button:hover{
    background: #2d9c3f;
}