@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
      outline: none;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  .hidden{
    visibility: hidden;
  }
  .alert-box{
    position: absolute;
    top: 50px;
    right: 0;
    width: 270px;
    padding: 20px 30px;
    background: green;
    color: #fff;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .alert-box .close-btn{
    cursor: pointer;
  }
  .alert-box.hide{
    animation: hideAlert 1s forwards;
    -webkit-animation: hideAlert 1s forwards;
}
  .alert-box.show::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #32ac32;
    animation: hideMaster 5s linear;
    -webkit-animation: hideMaster 5s linear;
}
@keyframes hideMaster{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
  .alert-box.show{
    animation: showAlert 1s forwards;
    -webkit-animation: showAlert 1s forwards;
}
@keyframes showAlert{
    0%{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
40%{
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}
80%{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
100%{
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
}
}
@keyframes hideAlert{
    0%{
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
}
40%{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
80%{
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}
100%{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
}
  .my-btn{
    font-family: 'vazir';
    font-size: 20px;
    color: #fff;
    background-color: #d13100;
    border: none;
    width: 200px;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
  }