@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      height: 100vh;
      display: flex;
      align-items: center;
  }
  .thumbnail-slider{
    width: 100%;
    float: left;
    overflow: hidden;
  }
  .thumbnail-slider .thumb-container{
    width: 100%;
    float: left;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
  .thumbnail-slider .thumb-container .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumbnail-slider .thumb-container .item{
    height: 250px;
    background-color: #999;
    line-height: 250px;
    text-align: center;
    float: left;
    font-size: 50px;
  }
  .thumbnail-slider .controls{
    width: 100%;
    display: flex;
  }  
  .thumbnail-slider .controls ul{
    text-align: center;
    display: block;
    width: 100%;
  }
  .thumbnail-slider .controls ul li{
    width: 35px;
    height: 35px;
    border: 1px solid #e3e3e3;
    display: inline-block;
    line-height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .thumbnail-slider .controls ul li.active{
    background-color: crimson;
    color: #fff;
  }