@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'),
        url('../fonts/vazir.woff2') format('woff2'),
        url('../fonts/vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'vazir';
    direction: rtl;
}

.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    animation: slide 2s ease;
    -webkit-animation: slide 2s ease;
}
.home .slide.active{
    display: flex;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.slide .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slide .caption {
    width: 500px;
    text-align: center;
}

.slide .caption h2 {
    font-size: 60px;
    color: #fff;
}

.slide.active .caption h2 {
    opacity: 0;
    animation: captionTxt .5s ease forwards;
    -webkit-animation: captionTxt .5s ease forwards;
    animation-delay: 1s;
}
.slide .caption p {
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
}
.slide.active .caption p {
    opacity: 0;
    animation: captionTxt .5s ease forwards;
    -webkit-animation: captionTxt .5s ease forwards;
    animation-delay: 1.2s;
}
.slide .caption a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    background: #c3361d;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.slide.active .caption a {
    opacity: 0;
    animation: captionTxt .5s ease forwards;
    -webkit-animation: captionTxt .5s ease forwards;
    animation-delay: 1.4s;
}
@keyframes captionTxt {
    0%{
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
}
100%{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
.controls .next,
.controls .prev{
    position: absolute;
    z-index: 2;
    top: 50%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform:translateY(-50%) ;
    -webkit-transform:translateY(-50%) ;
    -moz-transform:translateY(-50%) ;
    -ms-transform:translateY(-50%) ;
    -o-transform:translateY(-50%) ;
    font-size: 30px;
}
.next{
    right: 0;
}
.prev{
    left: 0;
}
.controls .next,
.controls .prev{
    width: 40px;
    height: 40px;
padding: 10px;}
.controls .next:hover,
.controls .prev:hover{
    background-color: #c3361d;
}
.indicator{
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.indicator div{
    width: 25px;
    height: 25px;
    background-color: #333;
    color: #fff;
    margin: 0 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.indicator div.active{
    background-color: #c3361d;
}