@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .box{
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 10px;
    background: #fff;
    display: flex;
}
.box a{
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    text-indent: -999px;
}
#red{
    background-color: #b71c1c;
}
#blue{
    background-color: #0d47a1;
}
#green{
    background-color: #1b5e20;
}
#gray{
    background-color: #263238;
}
#yellow{
    background-color: #f57f17;
}
#orange{
    background-color: #bf360c;
}