@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }
  html{
    /* وقتی اسکرول میشه نرم بره بالا */
    scroll-behavior: smooth;
  }

  body{
      font-family: 'vazir';
      direction: rtl;
      height: 100vh;
  }
  section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
  }
  #sectionOne{
    background-color: #b71c1c;
  }
  #sectionTwo{
    background-color: #E65100;
  }
  #sectionThree{
    background-color: #33691e;
  }
  #sectionFour{
    background-color: #0d47a1;
  }
  .toTop{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.toTop.active{
  opacity: 1;
  bottom: 50px;
}
.toTop svg{
  font-size: 25px;
}