@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  section{
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  section .box .imgBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  section .box .imgBox img{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section .box .imgBox.active{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section .box .imgBox.active img{
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    
  }
  section .box .imgBox h2{
    opacity: 0;
    visibility: hidden;
  }
  section .box .imgBox.active h2{
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    font-size: 18px;
    margin-top: 10px;
  }
  section .box .imgBox .content{
   position: absolute;
   bottom: 50px;
   right: 50px;
   left: 50px;
   background-color: rgba(0, 0, 0, 0.9);
   color: #fff;
   opacity: 0;
   visibility: hidden;
   padding: 10px;
   transform:translateY(200px) ;
   -webkit-transform:translateY(200px) ;
   -moz-transform:translateY(200px) ;
   -ms-transform:translateY(200px) ;
   -o-transform:translateY(200px) ;
}
section .box .imgBox.active .content{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transition:all 0.4s ease-in-out ;
    -webkit-transition:all 0.4s ease-in-out ;
    -moz-transition:all 0.4s ease-in-out ;
    -ms-transition:all 0.4s ease-in-out ;
    -o-transition:all 0.4s ease-in-out ;
}
  section .box .imgBox .content h3{
    font-size: 20px;
  }
